<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
    </head>
    <body>


        <div class="container">
            <h1 class="mt-4">About this Explore weather App Project</h1>

            <section class="my-4">
                <h2>Tools Used</h2>
                <p> Flask for building the web page
                    open weatherApi for fetching weather data
                    Bootsrtap
                </p>
            </section>

            <section class="my-4">
                <h2>Concepts Learned</h2>
                <p>
                    Create and activate virtual environment(install flask),install request library
                    create the project structure
                    Get an API key from openweather.


                </p>
            </section>







    <section class="my-4">
        <h2>Thought Process</h2>
        <p>
            Understanding the API used to fetch weather data
            setting  up the flask application
            Defining routes and views.
            displaying the fetched data on web page.
            setting up the template
            Adding css stylesheet
        </p>
    </section>

    <section class="my-4">
        <h2>Error Problem and Solutions</h2>
        <p>
            I made default city name which gives the only one city weather and that creates problem when entering any other city name rather tahn default.
            I changed it passing city name in class.
        </p>
    </section>
     
</div>
</body>
</html>